body {
  background-image: url("./images/water.jpg");
  animation: drift-diag-4 20s linear infinite;
}

#main-thing {
  width: 100%; height: 100%;
  background-image: url("./images/skull1.png");
  background-size: 300px;
  animation: drift-diag-5 20s linear infinite;
  position: absolute;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ok {
  font-size: 50px;
  background-color: #eee;
  width: 100px;
  text-align: center;
  border: 10px outset lightgray;
  color: gray;
  display: block;
  cursor: pointer;
  box-shadow: -10px 15px 10px rgba(0,0,0,.6);
}


@keyframes drift-diag-4 {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top 418px right -836px;}
}

@keyframes drift-diag-5 {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top -1200px right 600px;}
}


/* --------- other optional animations --------- */

/* @keyframes drift-up {
  0% {background-position: top 0px left 0px;}
  100% {background-position: top 418px left 0px;}
} */

/* @keyframes drift-down {
  0% {background-position: bottom 0px left 0px;}
  100% {background-position: bottom -418px left 0px;}
} */

/* @keyframes drift-right {
  0% {background-position: top 0px left 0px;}
  100% {background-position: top 0px left 418px;}
} */

/* @keyframes drift-left {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top 0px right 418px;}
} */

/* @keyframes drift-diag1 {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top -418px right 418px;}
} */

/* @keyframes drift-diag2 {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top 418px right 418px;}
} */

/* @keyframes drift-diag3 {
  0% {background-position: top 0px right 0px;}
  100% {background-position: top 418px right -418px;}
} */