body {
  background-image: url("./images/forest.jpg");
  animation: background-shake 0.2s;
  animation-iteration-count: infinite;
  overflow: hidden;
}

.main-div {
  width: 750px;
  height: 500px;
  background-color: #bbb;
  margin: auto;
  margin-top: 75px;
  border: 7.5px outset #ccc;
  box-shadow: 17.5px 20px 0px rgba(0,0,0,0.4);
  padding: 5px;
  animation: shake 0.2s;
  animation-iteration-count: infinite;
  
}

.inner-side-div {
  border: 12.5px outset #ccc;
  height: 475px;
  width: 20%;
  display: inline-block;
}

.inner-center-div {
  border: 12.5px outset #ccc;
  height: 475px;
  width: 48.5%;
  display: inline-block;
}

.innerinner-sidetop-div{
  border: 25px inset #ddd;
  margin: 7.5px;
  height: 50px;
  /* background-image: url("./images/forest.jpg"); */
  background-color: #bbb;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
}

.inner-inner-sidebottom-div{
  border: 25px inset #ddd;
  margin: 7.5px;
  height: 3400px;
  /* background-image: url("./images/forest.jpg"); */
  background-color: #bbb;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
}

.innerinner-centertop-div{
  border: 25px inset #ddd;
  margin: 7.5px;
  height: 50px;
  /* background-image: url("./images/forest.jpg"); */
  background-color: #bbb;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
}

.inner-inner-centerbottom-div{
  border: 25px inset #ddd;
  margin: 7.5px;
  height: 3400px;
  font-family: monospace;
  box-shadow: 15px 15px 15px rgba(0,0,0,0.4);
  /* background-image: url("./images/forest.jpg"); */
  background-color: #bbb;
}

@keyframes shake {
  0% { transform: translate(1px, 1px);  box-shadow: -25.5px 30px 0px rgba(0,0,0,0.4); }
  10% { transform: translate(-1px, -1px); box-shadow: 7.5px 17.5 0px rgba(0,0,0,0.4); }
  20% { transform: translate(-1px, 0px);  box-shadow: -17.5px 12.5 0px rgba(0,0,0,0.4); }
  30% { transform: translate(1px, 1px); box-shadow: 12.5px 20px 0px rgba(0,0,0,0.4); }
  40% { transform: translate(1px, -1px);  box-shadow: -25.5px 30px 0px rgba(0,0,0,0.4); }
  50% { transform: translate(-1px, 1px);  box-shadow: -17.5px 17.5 0px rgba(0,0,0,0.4); }
  60% { transform: translate(-1px, 1px);  box-shadow: 25.5px 30px 0px rgba(0,0,0,0.4); }
  70% { transform: translate(1px, 1px); box-shadow: -17.5px 12.5 0px rgba(0,0,0,0.4); }
  80% { transform: translate(-1px, -1px); box-shadow: 12.5px 17.5 0px rgba(0,0,0,0.4); }
  90% { transform: translate(1px, 1px); box-shadow: -25.5px 30px 0px rgba(0,0,0,0.4); }
  100% { transform: translate(1px, -1px); box-shadow: 17.5px 17.5 0px rgba(0,0,0,0.4); }
}

@keyframes background-shake {
  0% { background-position: right 10px bottom 20px; }
  10% { background-position: right 30px bottom 10px; }
  20% { background-position: right 20px bottom 10px; }
  30% { background-position: right 10px bottom 20px; }
  40% { background-position: right 10px bottom 30px; }
  50% { background-position: right 10px bottom 10px; }
  60% { background-position: right 20px bottom 10px; }
  70% { background-position: right 10px bottom 10px; }
  80% { background-position: right 30px bottom 20px; }
  90% { background-position: right 20px bottom 10px; }
  100% { background-position: right 10px bottom 30px; }
}